---
permalink: /blog/
---
<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
  <div class="mdl-tabs__tab-bar">
      <a href="#all-panel" class="mdl-tabs__tab is-active" style="width:45vw;">All</a>
      <a href="#tags-panel" class="mdl-tabs__tab" style="width:45vw;">Tags</a>
  </div>

  <div class="mdl-tabs__panel is-active" id="all-panel">
    <div class="mdl-grid">
      {% for post in site.posts %}
      <div class="mdl-cell mdl-cell--12-col">{% include features/post.html post=post %}</div>
      {% endfor %}
    </div>
  </div>

  <div class="mdl-tabs__panel" id="tags-panel">
    {% for tag in site.blog-tags %}
    <button class="mdl-chip big">
      <span class="mdl-chip__text" onClick="location.href='{{ tag.url }}'"><h4 style="margin: 0;">{{ tag.name }}</h4></span>
    </button>
    {% endfor %}
  </div>
</div>
