<div class="feature mdl-card mdl-shadow--2dp">
  <div class="mdl-card__title" style="background: url('../assets/{{ include.item.path | remove_first: "_" }}/featured.jpg') center / cover;">
    <h2 class="mdl-card__title-text">{{ include.item.title }}</h2>
  </div>

  {% if include.item.description %}
  <div class="mdl-card__supporting-text">
    {{ include.item.description }}
  </div>
  {% endif %}

  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="{{ include.item.url }}">
      Read more...
    </a>
  </div>
</div>
