<footer id="footer" class="mdl-mini-footer">
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">
        See this page on <a style="color: #afafaf;" href="https://github.com/david476/davidbol.es/blob/master/{{ page.path }}">GitHub</a>!
    </div>
    <ul class="mdl-mini-footer__link-list">
      <!--<li><a href="#">Privacy and Terms</a></li>
      <li><a href="#">User Agreement</a></li>-->
    </ul>
  </div>
  <div class="mdl-mini-footer__right-section">
    <a href="https://github.com/david476/"><button class="mdl-mini-footer__social-btn mdl-js-button mdl-js-ripple-effect fa fa-github fa-2x" style="color: black;background-color: #e8e8e8;"></button></a>
    <a href="https://twitter.com/DavidEBoles"><button class="mdl-mini-footer__social-btn mdl-js-button mdl-js-ripple-effect fa fa-twitter fa-2x" style="color: white;background-color: #4099ff;"></button></a>
    <a href="mailto:me@davidbol.es"><button class="mdl-mini-footer__social-btn mdl-js-button mdl-js-ripple-effect fa fa-envelope fa-2x" style="color: white;background-color: #b37549;"></button></a>
    <!--<button class="mdl-mini-footer__social-btn"></button>-->
  </div>
</footer>
