<header id="main_header" class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <span class="mdl-layout-title">{{ site.title }}</span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <!-- Navigation. We hide it in small screens. -->
    <nav class="mdl-navigation mdl-layout--large-screen-only">
      <a class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect{% if page.url == "/" %} active{% endif %}" href="/">Home</a>
      <a class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect{% if page.url == "/about/" %} active{% endif %}" href="/about/">About</a>
      <a class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect{% if page.url contains "/portfolio/" %} active{% endif %}" href="/portfolio/">Portfolio</a>
      <a class="mdl-navigation__link mdl-js-button mdl-js-ripple-effect" href="">Blog</a>
    </nav>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">{{ site.title }}</span>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="/">Home</a>
    <a class="mdl-navigation__link" href="/about/">About</a>
    <a class="mdl-navigation__link" href="/portfolio/">Portfolio</a>
    <a class="mdl-navigation__link" href="">Blog</a>
  </nav>
</div>
