/*General*/
button:focus {outline:0;}

/*Header changes*/
@media screen and (min-width: 1025px) {
  #main_header .mdl-layout__drawer-button {
    display: none;
  }

  #main_header .mdl-layout__header-row {
    padding-left: 40px;
  }
}

#main_header a.mdl-js-ripple-effect { position: relative; }

#main_header .mdl-navigation__link.active {
  background-color: #20295b;
}

/*Footer changes*/
.mdl-mini-footer--link-list a, .mdl-mini-footer__link-list a {
    text-decoration: underline;
}

#footer button.mdl-js-ripple-effect {
  position: relative;
}

/*Feature cards*/
.feature.mdl-card {
  width: 100%;
}
.feature > .mdl-card__title {
  color: #fff;
  height: 176px;
  padding: 0;
}

.feature > .mdl-card__title > .mdl-card__title-text {
  padding: 16px;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.feature > .mdl-card__menu {
  color: #fff;
}
