/*General*/
button:focus {outline:0;}

.page-content {
  padding: 1.25vw 5vw;
  box-sizing: border-box;
}

/*Header changes*/
{% include css/header.css %}

/*Footer changes*/
{% include css/footer.css %}

/*Feature cards*/
{% include css/feature.css %}

/*Tab fixes*/
.mdl-tabs > .mdl-tabs__panel:not(.is-active) {
  display: none;
}

/*Tags*/
{% include css/tag.css %}
